.goods_detail_wrap{padding: 0px 0 50px!important}



.dream_goods_detail_wrap{}

/*상품이미지*/

.dream_goods_detail_img{width:calc(100% - 680px)}
.dream_goods_detail_img .zoom-section:after{content:'';display:block; clear:both}

.dream_goods_detail_img .add_img_wrap .add_img_box ul li img{width:70px; height:70px}

.add_img_box{ text-align:center;}
.add_img_box:after{content:'';display:block; clear:both;}
.add_img_box ul{ }
.add_img_box ul:after{content:'';display:block; clear:both;}




/*상품기본정보*/
.dream_goods_detail_info{width:680px}




/*아이콘*/
.goods_detail_icon{padding-bottom:7px}
.goods_detail_icon span{display:inline-block; margin-right:3px}






/*상품정보*/


.detail_box{}
.detail_box span.item_code_tx{ }/*상품코드*/
.detail_box span.item_name_tx{}
.detail_box span.item_sale_tx{}/*판매가*/
.detail_box span.item_real_tx{ }/*정상가*/
.detail_box span.item_point_tx{}/*적립금*/
.detail_box span.item_goods_tx{}/*재고수량*/
.detail_box span.item_buyqty_tx{}/*구매수량*/
.detail_box span.item_dc_tx{}
.detail_box span.item_option_tx{}
.detail_box span.item_companyofgoods_tx{}/*원산지*/
.detail_box span.item_use_tx{}/*사용자정의*/
.detail_box span.item_par_tx{}/*고객선호도*/
.detail_box span.item_totelcost_tx{color:#e61d37;font-size:20px; font-weight:600; font-family:"Montserrat",'Noto Sans KR',sans-serif;}/*총상품금액*/
.detail_box span.item_totelcost{}
 
.detail_box select.option{}


.detail_box .goods_detail_name h3{font-size:28px; text-align:left; padding-bottom:0;margin-bottom:0; padding-right:80px}/*상품명*/

.detail_box .goods_detail_name .gdiTopBtn{position:absolute; top:-10px;right:0}
.detail_box .goods_detail_name .gdiTopBtn a{  font-size:28px; margin-left:10px}




.detail_box .item_companyofgoods{  margin-top: 0px;  font-size: 26px;   letter-spacing: -.74px;  color: #757575;}/*제조사*/

 



.detail_box .detail_info_field {padding:5px 10px ; text-align:left; font-size:15px }
.detail_box td.detail_info_field {text-align:right }

.detail_box .product_detail_info_box{border-bottom:1px #eee solid; padding-bottom:0px; margin-top:10px}
.detail_box .product_detail_price_box { display: flex; 	justify-content: flex-start; 	-ms-align-items: center; align-items: center; 	position:relative; padding-bottom:15px;  }
 
.detail_box .product_detail_price_box .item_real_cost{  font-size: 20px;  color: #999; margin-left:15px}
.detail_box .product_detail_price_box .item_sale_cost{  font-size: 28px;    font-weight: bold;}
.detail_box .product_detail_price_box .item_dc {font-size: 20px;  font-weight: bold; color: #ff4c2f; margin-left:15px}
.detail_box .product_detail_price_box .gd_par_box{position:absolute; bottom:20px; right:0}
.detail_box .product_detail_price_box .gd_par_box .review_cnt{margin-left:10px; font-size:14px; color:#666; text-decoration: underline;}
 
.detail_box .goods_rf_box{margin-bottom:10px; padding-top:10px; border-top:1px #eee solid;  }
.detail_box .goods_hash_box { display: flex;  flex-wrap: wrap;   gap: 5px; padding-bottom:15px}
.detail_box .goods_hash_box span{ height: 26px;  padding: 0 10px;  font-size: 13px; color: #009D5E;   border: 1px solid #009D5E;  background: #fff; display: inline-flex; align-items: center; border-radius: 100px;}


.detail_box .gd_field_box { display: flex; align-items: center;  font-size: 14px;  margin:15px 0}
.detail_box .gd_field_box dt{ flex: none;  width: 100px;   margin-right: 20px;   color: #999;  }
.detail_box .gd_field_box dd{ display: flex;   align-items: center;  color: #000; }

.detail_box .gd_field_option_box{margin:15px 0; display: flex; align-items: center;  font-size: 14px; }
.detail_box .gd_field_option_box dt{ flex: none;  width: 100px;   margin-right: 20px;   color: #999;  }
.detail_box .gd_field_option_box dd{   display: flex;   align-items: center;  color: #000;}


.detail_box .card{border-radius:0}
.detail_box span.item_buyqty_tx{font-size:14px}



.dream_goods_detail_info .goods_detail_total_box{ padding-top:15px; font-size:14px;  }
.dream_goods_detail_info .goods_detail_total_box div{ font-size:14px;   }
.dream_goods_detail_info .goods_detail_total_box .goods_detail_total_txt{width:30%; font-size:16px}
.detail_box input.item_totelcost{background-color:#FFFFFF; border-style:none; height:40px; line-height:40px; border-top-width:0px; border-right-width:0px; 
border-bottom-width:0px; border-left-width:0px;color:#000;font-size:22px; font-weight:600; text-align:right;}/*총상품금액 숫자*/



.goods_detail_btn_box{padding-top:30px; margin:0 -5px}
.goods_detail_btn_box .btn{ padding-top:12px; padding-bottom:12px; padding-left:20px; padding-right:20px}

.goods_detail_btn_box .row{margin-left:0px; margin-right:0px}
.goods_detail_btn_box .row .col-4, .goods_detail_btn_box .row .col-3, .goods_detail_btn_box .row .col-6{padding-left:5px; padding-right:5px}
.goods_detail_btn_box .buy-btn{width:50%; padding:0 5px}
.goods_detail_btn_box .cart-btn{width:50%; padding:0 5px}
.goods_detail_btn_box .w_i_s_btn{ padding:0 5px}
.goods_detail_btn_box .soldout-btn{padding:0 5px}
.goods_detail_btn_box .wish-btn .btn{ }




/*상품상세정보 레이아웃*/
#productDetail .prdDetailWrap {
    margin-top: 70px;
    padding: 0 0 80px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	border-top:1px #000 solid;

}

#productDetail .prdDetailWrap:before {
 
}

 
.step1DetailWrap{ width:calc(100% - 350px);}
.step1ContentWrap{ }


#productDetail .prd-detail {
    width: 100%;
    text-align: left;
    overflow: hidden;
 
    padding: 0 20px;
    box-sizing: border-box;
}

#productDetail .prd-detail table {
    table-layout: auto;
    border-spacing: 0 !important;
    border-collapse: collapse !important
}

#productDetail .prd-detail table td {
    word-break: break-all
}

#productDetail .prd-detail .item_goods_tab_tit {
    position: relative;
    padding: 50px 0 30px 0;
    font-size: 20px;
    text-align: left;
}

 

#productDetail .prd-detail img {
    max-width: 100%;
}

.prdDetailWrap .goods_info_detail{
	padding-top:50px
	
}


/*상세퀵주문*/


 
#productDetail .quickCartArea {
 	 
	position: absolute;
    top: 0;
    right: 0px;
    width: 350px;
	max-width:354px;
    z-index: 100;
    min-height: 700px;
    height: 100%;
	padding:0  0px;
}
 

 



#productDetail .quickCartArea .quickCartCnt{
	width: 100%;
    max-width: 350px;
    min-height: 700px;
    height: 100vh;
    padding-bottom: 23px;
    border: 1px solid #eee;
    border-top: 0;
	top:0 
}

#productDetail .quickCartArea.quickFixBox .quickCartCnt{
	 position: fixed;
 
}

 
#productDetail .quickCartArea .quickCartCnt .quickCartBox{
    height: 100%;
    padding: 25px 20px 50px;
    overflow-y: auto;
}

.quickCartCntInner{
	height:100%;
	position:relative;
}
.quickCartCntInner .quickCartCntInnerBox{
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.quickCartArea.quickFixBox .quickCartCnt .quickCartCntInner .quickCartCntInnerBox h3{

	padding-top:60px
	
}

 

#productDetail .quickCartArea .quickCartCnt .quickBtnBox{
    width: 100%;
    position: absolute;
	bottom:25px;
 
}

#productDetail .quickCartArea.quickFixBox .quickCartCnt .quickBtnBox{
     position: static;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
	 
 }


#productDetail .quickCartArea .quickCartCnt .quickBtnBox .left_btn_box {
	padding:0 25px 25px
}
 
.quickBtnBox .left_btn_box .left_btn_inner .btn{
	font-size:18px;
	height:52px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quickBtnBox .left_btn_box .left_btn_inner .btn+.btn{margin-top:15px}



 
#productDetail #left_cart_menu h3{  font-size:16px;font-weight:600; text-align:left; margin-bottom:0px;  border-bottom:2px solid #696969; padding-bottom:10px; 
margin-bottom:15px}
#productDetail #left_cart_menu ul{margin-top: 0px;padding-top: 0px; 
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
#left_cart_menu ul:after{content:'';display:block; clear:both;}
#left_cart_menu ul li{ font-size:12px;list-style:none; margin:5px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
#left_cart_menu ul li.suj{width:60px; text-align:left;  }
#left_cart_menu ul li.su_con{width:calc(100% - 70px);  text-align:right; justify-content: flex-end;}
#left_cart_menu p.left_line{border-bottom:1px solid #ddd; margin-top:10px;  }
#left_cart_menu .quick_cart_option{margin-bottom:5px}


#left_cart_menu .su_con_total  {font-size:18px}


.qty_btn_plus{height:20px;padding:0;width:20px; display:inline-block;text-align:center; border:1px #ddd solid;cursor:pointer;}
.qty_btn_minus{height:20px;padding:0;width:20px; display:inline-block;text-align:center; border:1px #ddd solid;cursor:pointer;}
.qty_mini_input{ height:20px;width:20px; font-size:11px; border-top:1px #ddd solid; border-bottom:1px #ddd solid; border-left:none; border-right:none; text-align:center;}
.su_con_total{color:#000}
.su_con_total input.total_input{font-size:22px;width:120px;background-color:transparent; border:0px;text-align:right; color:#000;}
#left_cart_menu .left_cost_box  {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	font-weight:600;

}
#left_cart_menu .left_cost_box span{font-weight:400; color: #aaa; font-size:12px}
#left_cart_menu .left_cost_box .cost_dc{font-weight:600; color: #ff4c2f; font-size:14px}




 
.close_btn {
	position: relative;
	left: 50%;
	top:  0px;
	width: 40px;
	margin-left:-20px;
}
.close_btn .quick_buy_up_btn, .close_btn .quick_buy_down_btn, .close_btn  .quick_buy_menu_btn{
	display:none;
}
 
.quick_buy_view_btn{

	display:none ;
	position: fixed;
	width:100%;
	height:60px; 
	left:0;
	bottom:20px;
	z-index:90;
	 
}
.quick_buy_view_btn > div{
	max-width:1200px;
	margin:0 auto;
	position:relative;
}
.quick_buy_view_btn > div > span{
	
}
.quick_buy_view_btn span:sfter{
	content: "\e648";
	font-family: 'themify';
	position:absolute;
	top:-22px;
	width:60px;
	left:50%;
	text-align:center;
	margin-left:-30px;
	background:#fff;
	border-radius:0.5rem 0.5rem 0 0;
	border:1px #6c757d solid;
	border-bottom:none;
}
.quick_buy_close_btn{
	max-width:1280px;
	margin:0 auto;
	position:relative;
	display:none;
}
.quick_buy_close_btn span,  .quick_buy_view_btn > div > span{ 
	display:block;
	width:280px;
	height:60px; 
	position:relative;
	z-index:99;
	background:#f02c11;
	position:absolute;
	top: -60px; right:0;
	cursor:pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
 	-ms-align-items: center;
	align-items: center;
	color:#fff;
	padding:0 30px;
}

.quick_buy_view_btn > div > span{
	top:-60px
}


.quick_buy_view_btn > div > span:after{
	content: "\e648";
	font-family: 'themify';
	position:absolute;
    top:50%;right:30px;
	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.quick_buy_close_btn span:after{
	content: "\e64b";
	font-family: 'themify';
	position:absolute;
    top:50%;right:30px;
	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.quick-none{display:none!important}
.quick-block{display:block!important}

 


/*상품정보 탭*/

#productDetail .detailHeaderWrap {
    height: 56px
}

#productDetail .detailTab {
    position: relative
}

#productDetail .detailTab.fix {
    position: fixed;
    top:  55px;
    width: 930px;
	 
    z-index: 90
}

#productDetail .detailTab ul {
    display: flex;
    justify-content: center
}

#productDetail .detailTab ul li {
    width: 25%;
    text-align: center
}

#productDetail .detailTab ul li:not(:first-child) {
 
}

#productDetail .detailTab ul li a {
    display: block;
    padding: 0;
    
    font-size: 18px;
    color: #666;
    font-weight: 500;
    line-height: 53px;
    border-bottom: 1px solid #eee;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
  

#productDetail .detailTab ul li.on {
    z-index: 1
}

 #productDetail .detailTab ul li.on a span{
	color: #000;
	height: 52px;
	display:inline-block;
	border-bottom:2px #000 solid;
}



 /*상품상세정보*/
 

 


/*관련상품*/
.related_product_wrap{margin-top:4.4444rem}
.related_product_wrap h4{text-align:left;}

.main_Swiper   {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}
.main_Swiper.swiper-initialized {
    visibility: visible;
    opacity: 1; 
 }

.related_product_wrap .item_tit a{
	font-size:17px
}
.related_product_wrap .item_cost strong{
	font-size:18px
}
.related_product_wrap .item_cost strike{
	font-size:15px
}

 
 


/*이용후기*/

#prdDetail1, #prdReview, #prdQna {
    height: 30px;
    margin-top: 0px;
}

.review_list{border-top:2px #000 solid; min-height:200px} 

.review_list .review_list_box{border-bottom:1px #ddd solid; padding:15px}
 
.review_list .review_list_box .reviewCont{text-align:left; padding-top:15px }
.review_list .review_list_box .reviewCont .photo img{ width:160px}
.review_list .review_list_box .reviewCont .photo {margin-top:15px}
.review_list .review_list_box .reviewInfo > div{padding-right:30px; position:relative; color:#666}
.review_list .review_list_box .reviewInfo > div:after{content:'';display:block; width:1px; height:10px; background:#ddd; position:absolute; top:5px; right: 15px}
.review_list .review_list_box .reviewInfo > div.date:after{display:none}
.review_list .review_list_box .reviewInfo > div.date{margin-right:0}
.review_list .review_list_box .review_btn{ margin-top:15px}
.review_list .review_list_box .review_btn a{margin:0 2px 0 0}


.accordion .number{width:7%; text-align:center; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;}
.accordion .star{width:8%;text-align:center; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;}

.accordion .photo{ text-align:center; padding:15px 0px 15px 0px;   }
.accordion .photo img{max-width:100%}

.accordion .subject{width:calc(100% - 35% ); padding-left:10px; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;}
.accordion .userid{width:10%;text-align:center; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;} 
.accordion .date{width:10%;text-align:center; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;}
.accordion .review_btn{width:7%;text-align:center; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;}
.accordion .review_btn a{margin:0 2px}
.accordion .subject2{width:calc(100% - 34% ); padding-left:10px; padding:15px 0px 15px 0px;border-bottom:1px solid #eee; height:82px;}
.esti_modify_score .custom-control-label{vertical-align:middle; }
.esti_modify_score .custom-control-label img{vertical-align:middle; margin-top:4px}

.itd_56{border-bottom:1px solid #eee;}

/*상품문의*/
#prdQna {
    margin: 0;
    position: absolute;
    top: -160px;
    left: 0;
    width: 1px;
    height: 1px
}
#productDetail .tit-detail {
    padding: 150px 0 30px;
    position: relative;
    *zoom:1 }

#productDetail .tit-detail:after {
    display: block;
    clear: both;
    content: ''
}
#productDetail .tit-detail h4{margin-bottom:0; font-size:1.25rem; color:#000; text-align:left;}
#productDetail .tit-detail .btn_write {color:#999;}

.goodsqna_top{padding-bottom:0px}
.goodsqna_list{border-top:2px #000 solid;} 
.goodsqna_list .card-body{background:#f8f8f8; text-align:left;}
.goodsqna_list .number{color:#e61d37; font-size:1.25rem}



/*교환반품환불*/
#prdDelivery {
    height:  0px;
    margin-top:  0px;
}
#productDetail .prd-detail .item_goods_tab_tit h5 {
    font-size: 20px;
    font-weight: 500
}

#productDetail .detail-common-info {
    width: 100%;
    text-align: left;
    word-break: break-all
}

#productDetail .detail-common-info .commonInfoBox{
	min-height:300px
}
 
 
 @media (max-width: 1400px) {
 

	.dream_goods_detail_img{width:630px}
    .dream_goods_detail_info{width:calc(100% - 630px);  }

	.step1DetailWrap { width: calc(100% - 350px); }

	#productDetail .detailTab.fix { width: 690px; }


 }
 @media (max-width: 1200px) {
 

	.dream_goods_detail_img{width:50%}
	.dream_goods_detail_img .default_image_box .zoom-small-image #wrap a img{margin:0 auto; width:100%; max-width:400px}
    .dream_goods_detail_info{width:calc(100% - 50%);  }
 	.dream_goods_detail_img .add_img_wrap .add_img_box ul li img {  width: 50px;  height: 50px; }

	.step1DetailWrap { width: 100%; }
 
	#productDetail .quickCartArea{ 
		
	    display:none; 
		top: auto;
		right: auto;
		left:0;
		bottom:0;
		width: 100%;
		max-width: 100%;
		z-index: 100;
		min-height: auto;
		height: auto;
		background:#fff;
		position:fixed;
	
	}

 
	#productDetail .quickCartArea .quickCartCnt {
		position:relative!important;
 		max-width: 100%;
		min-height: auto;
		height: auto;
		padding-bottom: 23px;
		border: 1px solid #eee;
		border-top: 0;
		top:auto;
		bottom: 0;
		background:#fff;
		 
	}


	#productDetail .quickCartArea .quickCartCnt .quickCartBox{
		height: auto;
		padding: 25px 20px 50px;
		overflow-y: auto;
	}

	.quickCartCntInner{
		height:auto;
 	}
	.quickCartCntInner .quickCartCntInnerBox{
		position: relative;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.quickCartArea.quickFixBox .quickCartCnt .quickCartCntInner .quickCartCntInnerBox h3{

		padding-top: 0px
		
	}


	.close_btn {
		position: relative;
		left: 50%;
		top:  0px;
		width: 40px;
		margin-left:-20px;
	}
	.close_btn .quick_buy_up_btn, .close_btn .quick_buy_down_btn, .close_btn  .quick_buy_menu_btn{
		display:none;
	}
	 
	.quick_buy_view_btn{display:block!important;
		position: fixed;
		width:100%;
		height:20px; 
		left:0;
		bottom:0px;
		border-top:1px #f02c11 solid;
		background:#fff;
		z-index:99;
		 
	}
 
	.quick_buy_close_btn{ 
		display:none;
		border-top:1px #f02c11 solid;
		width:100%;
		height:20px; 
		position:relative;
 		z-index:99;
		background:#fff;
	}
 

	.quick-none{display:none!important}
	.quick-block{display:block!important}

	.mousetrap{display:none}

	.m_goods_detail_btn_box{
		position: fixed;bottom:0;left:0;z-index:1111;
		background:#fff;
		width:100%;
	}
	.m_goods_detail_btn_box .btn{
		border-radius:0;
		padding-top:12px;
		padding-bottom:12px;
	}
	.m_goods_detail_btn_box .wish-btn .btn{
		width:74px
	}
	.m_goods_detail_btn_box .cart-btn {
		width:calc((100% - 0px) / 2)
	}
	.m_goods_detail_btn_box .buy-btn {
		width:calc((100% - 0px) / 2)
	}
	.m_goods_detail_btn_box .soldout-btn{
		width:calc(100% - 0px)
	}



 }



 @media (max-width: 991.98px) {

	.goods_detail_wrap{padding:0px 0 50px 0!important}
 	.sub_header_shopdetail{height:50px}
	.sub_header_shopdetail.fixed{width:100%; position:fixed; top:0;left:0; z-index:90; margin-left:0; margin-right:0}

	.sub_header_shopdetail .breadcrumb h3 a{    font-size: 16px;     color: #f02c11; font-weight:500}

	#productDetail .detailTab.fix{top:50px}


	.dream_goods_detail_img{width:calc(100% + 30px); margin:0 -15px; text-align:center;}
	.dream_goods_detail_img .default_image_box{margin:0 auto; text-align:center}
	.dream_goods_detail_img .default_image_box .zoom-small-image{float:none;  text-align:center}
	.dream_goods_detail_img .default_image_box .zoom-small-image #wrap a{text-align:center}
	.dream_goods_detail_img .default_image_box .zoom-small-image #wrap a img{margin:0 auto; width:100%; max-width:450px}
	.product_Swiper img{width:100%}


	.dream_goods_detail_info{width:100%; padding-top:0px}
	.dream_goods_detail_wrap{
		display:block
	}
 
	
	.detail_box{margin-top:30px}
 
	.goods_detail_table{border-top:1px solid #e9ecef;}
	.goods_qna_review_table  {
		display:none
	}
	.accordion .review_list_box {display:block; position:relative; border-bottom:1px solid #e9ecef; padding:15px 0}
	.accordion .review_list_box > div{border-bottom:0; width:auto!important; height:auto!important; padding:0 0}
	.accordion .review_list_box .flex-c-m{display:block; text-align:left;}
	.accordion .subject{padding:5px 0!important}
	.accordion .review_btn{position:absolute; top:20px; right:0}

	.accordion .review_list_box .userid, .accordion .review_list_box .date {color:#999; display:inline-block; font-size:11px}
	.accordion .review_list_box .userid{margin-right:30px; position:relative;}
	.accordion .review_list_box .userid:after{content:''; display:block; width:1px; height:10px; background:#ddd; position:absolute; top:3px; right:-15px}


	/*관련제품*/
	.related_product_wrap .dream_goods_list{ width:160px }
	.related_product_wrap .item_tit a{ font-size:14px }
	.related_product_wrap .item_cost strong{ 	font-size:16px }
	.related_product_wrap .item_cost strike{ font-size:12px }



	#productDetail .detailTab.fix{width:100%; left: 0px}


	.quick_buy_view_btn{bottom:46px}
	.quick_buy_view_btn:after{
		content: "\e648";
		font-family: 'themify';
		position:absolute;
		top:-25px;
		width:60px;
		left:50%;
		text-align:center;
		margin-left:-30px;
		background:#fff;
		border-radius:0.5rem 0.5rem 0 0;
		border:1px #f02c11 solid;
		border-bottom:none;
		color:#f02c11;
	}


	.quick_buy_close_btn:after{
		content: "\e64b";
		font-family: 'themify';
		position:absolute;
		top:-25px;
		width:60px;
		left:50%;
		text-align:center;
		margin-left:-30px;
		background:#fff;
		border-radius:0.5rem 0.5rem 0 0;
		border:1px #f02c11 solid;
		border-bottom:none;
		color:#f02c11;
	}


	#productDetail .quickCartArea .quickCartCnt .quickBtnBox,
	#productDetail .quickCartArea.quickFixBox .quickCartCnt .quickBtnBox{display:none}

	.quick_buy_close_btn span,  .quick_buy_view_btn > div > span{ display:none}





}


@media (max-width: 768.98px) {
	

	.detail_box .goods_detail_name h3{font-size:20px;  }
	.detail_box .item_companyofgoods{font-size:18px}

	.dream_goods_detail_img{margin-bottom:30px}

	.detail_box .product_detail_price_box .gd_par_box{position:absolute; top:auto; right:auto; left:0; bottom:10px}
	.detail_box .product_detail_price_box{padding-bottom:30px}

	 
	#productDetail .prd-detail{padding:0 0}

	/*쿠폰*/
	.detail_coupon_box .coupon_content{display:block;}

	#productDetail .detailTab ul li a{height:40px; font-size:13px; line-height:38px}
	#productDetail .detailTab ul li.on a span{height:38px}
	#productDetail .tit-detail{padding:100px 0 15px}

	/*교환반품*/
	#productDetail .detail-common-info{padding-bottom: 0px}

	/*후기*/

	.review_list .review_list_box{padding:15px 0}
 


}

@media (max-width: 991.98px) {
	 .mobile_footer{display:none;}
}